@mixin button($bgColor, $fgColor) {
  @include bordered(darken($bgColor, 10%));
  padding: $small-value $small-plus-value;
  margin-top: $tiny-value;
  margin-bottom: $tiny-value;
  cursor: pointer;
  background-color: $bgColor;
  color: $fgColor;
  font-weight: 300;
  font-size: $base-font-size;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  line-height: normal;
  display: inline-block;

  &:hover,
  &:focus {
    &:not([disabled]) {
      @include bordered(darken($bgColor, 20%));
    }
    background-color: darken($bgColor, 10%);
  }

  &:focus {
    outline: 0;
    box-shadow: darken($bgColor, 20%) 0 0.1rem 0.1rem inset;
  }

  &[disabled] {
    background-color: lighten($bgColor, 10%);
    opacity: 0.8;
    color: $colorBlack;
    cursor: default;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }
}

.#{$skg-prefix}button {
  @include button($colorWhite, $colorBlack);

  &.#{$skg-prefix}info {
    @include button($colorBlue, $colorWhite);
  }
  &.#{$skg-prefix}warning {
    @include button($colorOrange, $colorWhite);
  }
  &.#{$skg-prefix}danger {
    @include button($colorRed, $colorWhite);
  }
  &.#{$skg-prefix}success {
    @include button($colorGreen, $colorWhite);
  }
  &.#{$skg-prefix}reverse {
    @include button($colorBlack, $colorWhite);
  }

}

.#{$skg-prefix}button-group {
  [class^="#{$skg-prefix}button"],
  [class*=" #{$skg-prefix}button"] {
    border-radius: 0;
    margin-left: -0.2rem;
    margin-right: -0.2rem;

    &:first-of-type {
      border-radius: $base-border-radius 0 0 $base-border-radius;
      margin-left: 0;
    }
    &:last-of-type {
      border-radius: 0 $base-border-radius $base-border-radius 0;
      margin-right: 0;
    }
  }
}

.#{$skg-prefix}button-toolbar {
  display: flex;
  flex-flow: row nowrap;

  .#{$skg-prefix}button-group {
    margin-left: $tiny-value;
    margin-right: $tiny-value;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}