@mixin flash($color) {
  background: white;
  box-shadow: $base-shadow;
	margin-bottom: $small-plus-value;
	border-radius: $base-border-radius;
	overflow: hidden;
  
	&.is-fixed {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 0;
	}
	
  .skg-message-content {
    display: flex;
    flex-direction: row;
    line-height: 3.5rem;
  }
  
  .skg-message-icon, 
  .skg-message-close {
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
  }
  
  .skg-message-text {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1rem;
    padding: 0 $tiny-plus-value;
		
		p {
			line-height: inherit;
		}
  }
  
  .skg-message-close a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    
    &:hover {
      color: $color;
    }
  }
  
  .skg-message-icon {
    background: $color;
    color: white;
    
    span {
      font-size: 2rem;
      margin: auto;
      vertical-align: middle;
    }
  }
}

.#{$skg-prefix}message {
  @include flash($primary-color);
    
	&.is-secondary {
    @include flash($secondary-color);
  }
	
  &.is-success {
    @include flash($success-color);
  }
  
  &.is-error {
    @include flash($error-color);
  }
}