@mixin flash($bgColor) {
  @include bordered(darken($bgColor, 10%));
  font-size: $h3-size;
  color: darken($bgColor, 20%);
  background: rgba($bgColor, 0.25);
  overflow: hidden;
  position: relative;
  margin-bottom: $medium-value;

  .#{$skg-prefix}flash-header {
    display: flex;
    flex-flow: row nowrap;
    padding: $small-value;

    .#{$skg-prefix}flash-title {
      font-weight: bold;
      margin: 0;
      padding: 0;
    }

    .#{$skg-prefix}flash-close {
      margin-left: auto;
      margin-right: $small-value;
      color: $bgColor;
      opacity: 0.6;
      align-items: center;
    }
  }

  .#{$skg-prefix}flash-message {
    background-color: $colorWhite;
    padding: $small-plus-value $tiny-value;
  }
}

.#{$skg-prefix}flash {

  &.#{$skg-prefix}info {
    @include flash($bg-color-info);
  }
  &.#{$skg-prefix}warning {
    @include flash($bg-color-warning);
  }
  &.#{$skg-prefix}danger {
    @include flash($bg-color-danger);
  }
  &.#{$skg-prefix}success {
    @include flash($bg-color-success);
  }

}