@mixin input-states($color) {
  color: $color;
  box-shadow: inset 0 0 0 1px $color;
  transition: box-shadow 0.3s ease;
  
  &:focus, &:active {
    box-shadow: inset 0 0 0 2px $color;  
  }
  
  &::-webkit-input-placeholder {
    color: lighten($color, 15%);
  }
   
  &::-moz-input-placeholder {
    color: lighten($color, 15%);
  }
  
  &:-ms-input-placeholder {
    color: lighten($color, 15%);
  }
}

.#{$skg-prefix}form {
  display: flex; 
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  
  &.are-secondary {
    .#{$skg-prefix}input {
      @include input-states($secondary-color);
    }
  }
  
  &.are-success {
    .#{$skg-prefix}input {
      @include input-states($success-color);
    }
  }
  
  &.are-error {
    .#{$skg-prefix}input {
      @include input-states($error-color);
    }
  }
}

.#{$skg-prefix}input {
  @include input-states(lighten($primary-color, 50%));
  
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  height: 2.5rem;
  margin: $tiny-plus-value;
  padding: 0.5rem;
  border-radius: $base-border-radius;
  font-family: $source-font-family;
  font-size: 0.9rem;
  outline: none;
  border: none;
  
  &.is-secondary {
    @include input-states($secondary-color);
  }
  
  &.is-success {
    @include input-states($success-color);
  }
  
  &.is-error {
    @include input-states($error-color);
  }
}