@mixin loader() {
	position: relative;
	
  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    border-top: $base-border-width solid #9c98f5;
    border-right: $base-border-width solid transparent;
		border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

.#{$skg-prefix}loader {
	@include loader();
	
	display: block;
	height: 3rem;
	width: 3rem;
}

.#{$skg-prefix}button .#{$skg-prefix}loader {
	width : 1.2rem;
	height: 1.2rem;

	@include loader();
}

@keyframes spin {
  0% {
		transform: rotate(0deg);
		border-top: $base-border-width solid #9c98f5;
	}
  50% {
		transform: rotate(180deg);
		border-top: $base-border-width solid darken(#9c98f5, 15%);
	}
	
	100% {
		transform: rotate(360deg);
		border-top: $base-border-width solid #9c98f5;
	}
}