%formatted-language {
  color: $color-white;
  font-family: monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  overflow-x: scroll;
}

.#{$skg-prefix}snippet {
  background-color: $primary-color;
  padding: $small-value;
  margin-bottom: $tiny-value;
  color: $color-white;

  &:before {
    content: 'Plain Text';
    display: block;
    padding: $small-value;
    margin: -#{$small-value};
    margin-bottom: $small-value;
    background-color: lighten($secondary-color, 10%);
    color: white;
  }

  &[data-language] {
    &:before {
      content: attr(data-language);
    }
  }

  &::selection, ::selection {
    background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
  }

  .namespace {
    opacity: .7;
  }

  code {
    @extend %formatted-language;
    padding: 0;

    .token {
      &.punctuation {
        opacity: .7;
      }
      
      &.comment,
      &.prolog,
      &.doctype,
      &.cdata {
        color: hsl(0, 0%, 47%); /* #777777 */
      }
      
      &.tag,
      &.boolean,
      &.number,
      &.deleted {
        color: hsl(14, 58%, 55%); /* #CF6A4C */
      }
      
      &.keyword,
      &.property,
      &.selector,
      &.constant,
      &.symbol,
      &.builtin {
        color: hsl(53, 89%, 79%); /* #F9EE98 */
      }
      
      &.attr-name,
      &.attr-value,
      &.string,
      &.char,
      &.operator,
      &.entity,
      &.url,
      &.language-css .string,
      &.style .string,
      &.variable,
      &.inserted {
        color: hsl(76, 21%, 52%); /* #8F9D6A */
      }

      &.atrule {
        color: hsl(218, 22%, 55%); /* #7587A6 */
      }

      &.regex,
      &.important {
        color: hsl(42, 75%, 65%); /* #E9C062 */
      }

      &.important,
      &.bold {
        font-weight: bold;
      }

      &.italic {
        font-style: italic;
      }

      &.entity {
        cursor: help;
      }
      
    }
  }

  pre[data-line] {
    padding: 1rem 0 1rem 3rem;
    position: relative;
  }

  /* Markup */
  &[data-language="markup"] {
    .token {
      &.tag,
      &.attr-name,
      &.punctuation {
        color: hsl(33, 33%, 52%); /* #AC885B */
      }
    }
  }

  /* Make the tokens sit above the line highlight so the colours don't look faded. */
  .token {
    position: relative;
    z-index: 1;
  }

  .line-highlight {
    background: hsla(0, 0%, 33%, 0.25); /* #545454 */
    background: linear-gradient(to right, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
    border-bottom: 1px dashed hsl(0, 0%, 33%); /* #545454 */
    border-top: 1px dashed hsl(0, 0%, 33%); /* #545454 */
    left: 0;
    line-height: inherit;
    margin-top: 0.75rem; /* Same as .prism’s padding-top */
    padding: inherit 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    white-space: pre;
    z-index: 0;

    &:before,
    &[data-end]:after {
      background-color: hsl(215, 15%, 59%); /* #8794A6 */
      border-radius: 999px;
      box-shadow: 0 1px white;
      color: hsl(24, 20%, 95%); /* #F5F2F0 */
      content: attr(data-start);
      font: bold 65%/1.5 sans-serif;
      left: .6rem;
      min-width: 1rem;
      padding: 0 .5rem;
      position: absolute;
      text-align: center;
      top: .4rem;
      vertical-align: .3rem;
    }

    &:after {
      bottom: .4rem;
      content: attr(data-end);
      top: auto;
    }
  }
}