$skg-spinner-size: 2rem;
$skg-spinner-thin: calc(#{$skg-spinner-size}/6);

.#{$skg-prefix}spinner {
  border: $skg-spinner-thin solid $colorGrey;
  border-top-color: $colorGray;
  border-radius: 50%;
  background: none;
  width: $skg-spinner-size;
  height: $skg-spinner-size;
  animation: spin 2s linear infinite;
}