html {
    height: 100%;
}

body {
    font-family: $source-font-family;
    font-size: $base-font-size;
}

.all-to-bottom {
    height: 40rem;
    
    .skg-item {
        height: 6.1rem;
    }
}

.to-top, 
.to-bottom, 
.to-center {
    height: 6.1rem;
}