html {
    height: 100%;
}

body {
    font-family: $source-font-family;
    font-size: $base-font-size;
    color: #313131;
}

h1 {
    margin-bottom: 1rem;
}

.container {
    max-width: 80rem;
    margin: auto;
    
    + .container {
        margin-top: 5rem;
    }
}

.skg-item {
    padding: 1.25rem;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-size: 1.2rem;
    text-align: center;
}

.all-to-bottom {
    height: 400px;
    
    .skg-item {
        height: 61px;
    }
}

.to-top, 
.to-bottom, 
.to-center {
    height: 61px;
}