html {
    height: 100%;
}

body {
    font-family: $source-font-family;
    font-size: $base-font-size;
    border-top: 0.2rem solid $secondary-color;
}

.all-to-bottom {
    height: 40rem;
    
    .skg-item {
        height: 6.1rem;
    }
}

.to-top, 
.to-bottom, 
.to-center {
    height: 6.1rem;
}

.#{$skg-prefix}example {
    background: $color-light-grey;
    padding: $small-value;
}