// Responsive mixin
@mixin respond-to($value) {
  $string: breakpoint($value);
  @media screen and #{$string} {
    @content;
  }
}

@mixin bordered($borderColor) {
  border: 0.1rem solid $borderColor;
  border-radius: $base-border-radius;
}

// Tip blocks
@mixin tip($borderColor, $content) {
  @include bordered(darken($borderColor, 10%));
  border-left-width: $tiny-value;
  padding: $small-plus-value $small-value;
  margin: $tiny-value 0;
  position: relative;

  &:before {
    @extend .ion;
    content: $content;
    position: absolute;
    top: 1.4rem;
    left: -1.2rem;
    background-color: darken($borderColor, 10%);
    color: $colorWhite;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 100%;
    text-align: center;
  }
}